.contact_div {
  display: grid;
  place-items: center;
  background-color: aliceblue;
  height: 100%;
  overflow: hidden;
  width: 100%;
  padding-bottom: 10rem;
}
.single_inputs {
  margin: 2rem 0;
}

.Submit_button {
  border: 1px solid black;
  padding: 5px 20px;
}
